* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
    color: #E5E7EB
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 0px 150px;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 150px;
    jusify-content: space-between;
}

.hero-left {
    flex: 1;
}

hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    max-width: 500px;
    min-width: 300px;
    border-radius: 6px;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 10px;

}

.second-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    padding: 5px 30px;
    border-radius: 6px;
    color: #f9faf8;
    font-weight: bold;
    border: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}