* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 0px 150px;
}

.logo img {
    min-width: 125px;
    max-width: 150px;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    font-size: 20px;
    color: #E5E7EB;

}

ul {

    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 150px;
    justify-content: space-between;
    gap: 50px;
}

.hero-left {
    flex: 1;


}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-right img {
    min-width: 200px;
    max-width: 100%;
    box-shadow: 5px 5px teal;
    border-radius: 4px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.second-text {
    font-size: 20px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 4px;
    color: #F9FAF8;
    font-weight: bold;
    border: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

button,
.cta {
    background-color: #3882F6;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 40px;

}

.info-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 40px 100px 40px;
    flex-wrap: wrap;
}

.info-img {

    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 5px 5px lightgrey;
    border-radius: 10px;
    margin-bottom: 3px;
    text-align: center;
    justify-content: center;


}

.info-text {
    width: 150px;
    color: #1F2937;
    text-align: center;
}

.quote {
    padding: 150px 250px 0px 250px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.citation {
    display: flex;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    justify-content: right;
    padding-bottom: 100px;
    margin: 20px;

}





.cta {
    display: flex;
    justify-content: space-between;
    /* background-color:#3882F6; */
    padding: 40px 75px;
    margin: 75px 150px;
    border-radius: 6px;
    align-items: center;
    gap: 20px;

}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.cta-text-lg {
    color: white;
    font-weight: 800;
}

.cta-text-sm {
    color: white;
    font-size: 1em;
}

.cta-btn {
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px 20px;
    white-space: nowrap;

}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 0.6em;
}

a:hover {
    color: #cfd1d4;
}

button:hover {
    background-color: #286cda;
}